* {
    box-sizing: border-box;

}
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0px 64px;
}

p {
    padding: 0;
    margin: 0;
}


header,
footer {
    background-color: #1f2937;
    color: #f9FAF8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    margin: 0;
}

header {
    padding: 32px;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #f9FAF8;
}

.links ul {
    display: flex;
    gap: 16px;
}

.hero {
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.hero-left button {
    background-color: #3882f6;
    color: #f9FAF8;
    align-self: flex-start;
}

.hero-left {
    display: flex;
    flex-direction: column;
    flex-basis: 704px;
    gap: 5px;
}

.main-text {
    font-size: 48px;
    font-weight: 800;
}

.secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

.info {
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 12px 0px;
}

.info img {
    border: 4px solid #3882f6;
    border-radius: 14px;
}

.info-header {
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 12px;
    color: #1f2937;
}

.illustration-container {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

figure {
    padding: 0;
    margin: 0;
}

.quote-section {
    background-color: #e5e7eb;
    height: 300px;
    width: 100%;
    color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 32px;
}

.quote-container {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}

.author {
    align-self: flex-end;
    font-weight: 700;
}

.call-to-action-container {
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-to-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 12px;
    padding: 74px;
    background-color: #3882f6;
    color: #f9FAF8;
}

.call-to-action-button {
    border: 1px solid #f9FAF8;
    padding: 3px 16px;
    border-radius: 5px;
}

.call-to-action-text h3 {
    margin-bottom: 7px;
}

ul {
    list-style-type: none;
    padding: 0;
}